<div class="w-full">
  <div class="bg-gray-950 text-white w-full h-1/2 shadow-lg p-6">
    <div class="flex justify-around">
      @for(item of category[selectedSection].sections; track 1){
      <div class="flex flex-col">
        <h1 class="text-center">{{ item.name }}</h1>
        <!-- *ngFor="let section of item.items" -->
        @for(section of item.items; track section){
           <button
          (click)="
            navigateToProducts(
              '/' + selectedSection + '/' + '/' + item.id + '/' + section.id
            )
          "
          mat-button
          
        >
          {{ section.name }}
        </button>
        }@empty{
          <h1 class="text-center">No items</h1>
        }
       
      </div>
      } @empty{ provide data }

      <div class="hidden lg:block">
        <div class="mb-5">
          <img
            class="w-[19rem] h-[20rem] object-cover object-top rounded-md"
            src="https://img.freepik.com/free-photo/relax-area-resort_1150-10728.jpg?w=1060&t=st=1716648753~exp=1716649353~hmac=21804ef06f0e4e8efbad73809cb815c6ab3f202dcf707227c849057762c58567"
            alt=""
          />
        </div>
        <p class="text-gray-600">New Farmhouses</p>
      </div>
      <div class="hidden lg:block">
        <div class="mb-5">
          <img
            class="w-[19rem] h-[20rem] object-cover object-top rounded-md"
            src="https://img.freepik.com/free-photo/luxury-bedroom-suite-resort-high-rise-hotel-with-working-table_105762-1783.jpg?w=996&t=st=1716648939~exp=1716649539~hmac=dd8c43a10f6d60fdecef0d93ec11853e8b2ff0aa690cb31857323a27e8dbc2b7"
            alt=""
          />
        </div>

        <p class="text-gray-600">Furnished Flats</p>
        <p class="text-gray-600">{{ selectedSection == "women" }}</p>
      </div>
    </div>
  </div>
</div>
