
<div class="container-fluid position-relative my-5">
    <div id="hero-box" class="row align-items-center">
        <h1 class="heading-big mt-5">
            Find Your Perfect Home
        </h1>
            <div class="col-lg-1">
            <p class="cont-med mt-4">
                Rentify can help you find a home, apartment for rent.
                Rentify simplifies the<br> property renting process, 
                making it faster, easier, and more efficient for both
                tenants and landlords.<br>Our goal is to provide a reliable
                and comprehensive platform<br> that caters to all aspects 
                of property renting,ensuring<br> a hassle-free experience for 
                everyone involved.
            </p>
            </div>
    </div>
        <div class="col-lg-6">
            <img src="../../assets/heroimg.png" width="600" height="500" class="img-fluid d-none d-lg-block" />
        </div>
        <div class="d-none d-md-block">
            <img src="../../assets/BoxDesign.png" id="dots-img" class="img-fluid position-absolute top-0 end-0 me-4" />
        </div>  
    </div>
<div>
    <app-product-card-slider title="Apartment"  [products]="gouns"/>
    <app-product-card-slider title="FarmHouse" [products]="saree"/>
    <app-product-card-slider title="cottages" [products]="products"/>


</div>

<div class="container my-5 py-5">
    <h2 class="des0 text-center mb-5">OUR SERVICES</h2>
    <!-- Buy service -->
    <div class="row mt-5 py-5">
        <div class="col-6">
            <h2 class="heading-med mt-5">Findind your Dream <br class="d-none d-lg-block" />House is made easier.</h2>
            <p class="mt-3 cont-med">Rentify can help you find a home, apartment for rent, that you'll love. As
                with any new technology, building designers experiment and learn from each other in the pursuit of new
                solutions, can help you easily find a home, apartment for rent, sell and buy that you'll love.</p>
        </div>
    </div>


